#launch.json
.vscode/
#Cache 
.alcache/
#Symbols 
.alpackages/
#Snapshots 
.snapshots/
#Testing Output 
.output/
#Extension App
*.app
#Rapid Application Development 
rad.json
#Translation Base
*.g.xlf
#License
*.flf
#Test results 
TestResults.xml
